ENV=production
API_HOST=127.0.0.1
API_PORT=5006

MONGO_URI=mongodb+srv://Avneesh:Avneesh%4012345@cluster0.sqcsrv2.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB=trading_bot_db

DEFAULT_SYMBOL=NIFTY
SIM_CAPITAL=500000
RISK_PER_TRADE=0.01
MAX_DAILY_LOSS=0.03
MAX_TRADES_PER_DAY=6
COOLDOWN_AFTER_LOSSES=2
BROKERAGE_PER_ORDER=20
SLIPPAGE_BPS=2
DEFAULT_LOT_SIZE=25

# ─── AngelOne Credentials ─────────────────────────────────────────────
ANGEL_API_KEY=6HaMJD5F
ANGEL_CLIENT_ID=AABY903828
ANGEL_MPIN=1975
ANGEL_TOTP_SECRET=OM5E5K7T4MKB6QUQLX2CACIGNY
